@charset "utf-8";

.img_delete {
	cursor: pointer;
}

.img_upload {
	margin-left: -146px;
	height: 30px;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.ms_thumb {
	margin-left: 2px;
	margin-top: 10px;
}

.ms_upload_container {
	position: relative;
	width: 90px;
	height: 30px;
	overflow: hidden;
}

.ms_upload {
	position: relative;
	width: 84px;
	height: 29px;
	top: -30px;
	overflow: hidden;
}

.ms_img_container {
	width: 86px;
	height: 86px;
	border: 2px dashed #AAA;
	margin-top: 5px;
	overflow: hidden;
}
.ms_upload_img_container {
	float: left;
}
.ms_info_container {
	float: left;
	margin-left: 20px;
}
.ms_info_container h3 {
	margin-bottom: 2px;
}